*{
  margin:0
}
.app__headerImage{
  width: 3rem;
  object-fit: contain;
}

.app__header{
  background-color: #cdffff;
  padding:20px;
  object-fit: contain;
  border-bottom: 1px solid lightblue;
  display: flex;
  justify-content: space-between;
}

.App{
  background-color: rgb(183, 253, 253);
  /* height:100vh; */
}
.post_username_bottom{
  margin-right: 10px;
}

.app__signup{
  display:flex;
  flex-direction: column;
  text-align: center;
}